.app-desktop {
  display: flex;
  font-family: "Inter", sans-serif;
}
.form-container {
  width: 704px;
  height: 1024px;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 112px;
}
.image-container {
  width: 912;
  height: 992;
  gap: 8px;
  opacity: 1;
  padding: 72px;
  border-radius: 16px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 79px;
  margin: 0 auto;
  width: 592px;
  height: 28.57px;
}
header img {
  width: 96.02px;
  height: 28.57px;
}
header a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  color: #090e29;
}
